
.background1{
  background-color: #313233;
  background: url(../images/bg-running.jpg);
  background-size: cover;
  border-top: 2px solid $primary;
}

.background2{
  background: #fff;
  border-bottom: 1px solid #000;
}

.background-image{
  padding: 25px 0;
  background-color: #313233;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-size: cover;
}

.main-message {
  color: white;
  padding-top: 25px;
  padding-right: 0;

  h1 {
    font-size: 4em;  
    text-transform: uppercase;
  }
  hr {
    border-top: 5px solid $secondary;
    width: 100%;
    position: relative;
    margin-bottom: 0;
  }

  img{
    width: 111px;
    position: absolute;
    left: 71%;
    color: $primary;
  }
}

.event-section{
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  h2{
    margin: 0;
    padding: 20px 0 0 20px;
  }
  img {
    vertical-align: top;
  }
  span{
    font-size: 1em;
    font-weight: 500;
    color: #727272;
    display: inline-block;
    margin-bottom: 5px;
  }

  p{
    font-size: 1.3em;
    font-weight: 600;
  }
  .coming-soon{
    font-weight: 300;
    color: #000;
    font-size: 1em;
    
  }
}

.event-header {
  padding: 0;
  margin: 0;
  h2{
    background-color: $secondary;
    color: #fff;
  }
}

.event-list {
  padding: 0px 20px 0 20px;
  list-style: none;

  li{
    height: 135px;
    
    padding-top: 20px;


    &+li{
      border-top: 1px solid $primary;
    }
  }
  img {
    float: left;
    margin-right: 1em;
    height: 94px;
    width: 150px;
  }


}

.more a{
  float: right;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5%;
}

.news-header{
  background: $secondary;
  color: #fff;
  padding: 0;
  margin: 0;
}

.news-section{
  background-color: #1d1e1f;
  padding: 0 0 50px;
  margin: 80px 0;
  position: relative;
  padding-bottom: 0;

  h2{
    margin: 0;
    padding: 20px 0 0 20px;
  }
  img {
    vertical-align: top;
  }
  span{
    font-size: 1em;
    font-weight: 500;
    color: #727272;
    display: inline-block;
    margin-bottom: 5px;
  }

  p{
    margin-top: -5px;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
  }
  

  .articles{
    padding: 20px 20px 0 20px;
    list-style: none;
    margin-bottom: 0;

    li{
      height: 130px;
      
      padding-top: 15px;

      img{
        float: left;
        margin-right: 1em;
      }

      &+li{
        border-top: 1px solid $secondary;
      }

    }
  }

  .more a{
    text-transform: uppercase;
    text-align: right;
    height: 41px;
    width: 100%;
    display: block;
    background: #000;
  }

}

.more-info {
  padding: 0 0 50px;
  margin: 80px 0;

  
  p{
    height: 71px;
    font-family: "MuseoSlab-300","Palatino Linotype","Book Antiqua",Palatino,serif;
  }


}

.projects {
  border: 1px solid #000;
  background: #000;
  margin-left: 30px;  
  padding: 40px 20px;

  hr{
    margin: 10px 0;
    border-top: 2px solid $secondary;
    width: 100%;
    position: relative;
  }

  h3{
    margin-top: 0;
    color: white;
    font-size: 1.875em;
  }

  img{
    float: left;
    margin-right: 15px;
  }


}

.articles{



}

.more-projects{
  background: #1d1e1f;
  height: 40px;
  text-align: right;
  margin-left: 30px;

  a{
    text-transform: uppercase;
    display: inline-block;
    padding-top: 10px;
    padding-right: 5%;
  }

}

.sponsors-section{
  h1{
    font-size: 3.5em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
  }



}

.sponsors-info{
  text-align: center;

}

.sponsors-details{

  ul{

    list-style: none;
  }

  li{
    display: inline-block;
    padding: 20px 10px;
  }

  img{
    width: 75%;
  }
  



  
}

.footer-background{
  color: #000;
}

.footer-content{

  ul{
    list-style: none;
    padding: 25px 0;
    margin: 0;
  }

  li{
    margin: 0 2px;
    display: inline-block;

    &+li{
      border-left: 1px solid #000;
      padding-left: 6px;
    }
  }

  i{
    font-size: 20px;
    padding: 0 5px;
  }

}

.social-links{
  float: right;
}

.created-by{
  background: #000;
  padding: 10px;
  border-top: 4px solid $secondary;
  font-family: helvetica sans-serif;

  img{
    height: auto;
    width: 175px;
  }

  a{
    text-transform: uppercase;
    display: inline-block;
  }

}







