
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-inverse {
  background: #ececec;
  border-bottom: 6px solid $primary;
}

.navbar-inverse .navbar-collapse ul li a {
  color: #000;
}

.navbar-inverse .navbar-collapse ul li a:hover{
  color: #ff6700;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #ececec;
}

.navbar-inverse .navbar-brand {
  color: #000;
  font-size: 3em;
  img{
    width: 45px;
    margin-top: -7px;
    margin-right: 5px;
  }

  @media screen and (max-width: 990px){
    font-size: 1.5em;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: $primary;
  background-color: transparent;
}

.media-links{
  float: right;
}

.social-media {
  list-style: none;
  position: absolute;
  right: 30px;
  top: 56px;
  background: #5F391F;
  border-radius: 0 0 15px 15px;
  padding: 3px 23px;

  @media screen and (max-width: 767px){
    display: none;
  }
  p{
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #000;
  }
  li{
    display: inline-block;

    margin-left: .5em;
    i{
      font-size: 2em;
    }
  }

  a{
    color: #fff;
    &:hover{
      color: #d25a1c;
    }
  }


}





@media screen and (min-width:395px) and (max-width: 454px){
  .navbar-inverse .navbar-brand{
    font-size: 1.8em;
  }
}


@media screen and (max-width: 394px){
  .navbar-inverse .navbar-brand{
    font-size: 1.6em;
  }
}







