/*start of third section styling */

.second-section{
	/* margin-top: 0px; */
	background: #eee;
	text-align: center;
	padding: 5em 0;
}
.trail-condition-section{
	border-right: solid 1px #bbb;
}
@media (max-width: 767px){
	.trail-condition-section{
	border-right: 0;
}
}
.trail-condition-section ul{
	padding-left: 0;
	list-style: none;
	padding-right: 1em;
}
.trail-condition-section ul li{
	width: 100%;
	text-align: left;
	min-height: 100px;
}
.trail-condition-section ul li img{
	float: left;
	margin: 0 15px 0 0
}
.trail-condition-section li{
	padding-right: 50-px;
}
.sponsors-sections ul{
	padding-left: 0;
}
.sponsors-sections ul li{
	width: 31%;
	display: inline-block;
	margin: 1% 1% 0 0
}
.sponsors-sections ul li img{
	width: 100%;
}



.conditions-section ul{
  list-style: none;
  margin-bottom: 50px;
  text-align: center;
}

.conditions-section h2{
  font-size: 40px;
  padding-bottom: 15px;
  text-align: center;
  letter-spacing: 1px;
}

.conditions-section img{
	float: left;
	margin-right: 10px;
	margin
}
.conditions-section h3 p div{
	display: inline-block;
	margin-bottom: 2px;
}

.conditions-section h3{
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	text-align: left;
}

.conditions-section h3,p{
	margin: 5px;
}

@media (max-width: 767px) {
	.sponsors-section ul li{
		width: 100%;
	}
}

.sponsors-section img{
	padding: 5px;
	margin-bottom: -8px;
}

.sponsors-section li{
	width: 32%;
	display: inline-block;
}

.sponsors-section li img{
	width: 100%;
}



/*end of third section styling*/