/*start of fourth section styling*/



.recent-section{
	margin: 25px 0;
	
}
.recent-section ul{
	width: 100%;
	background: blue;
}
.recent-section ul li{
	display: inline-block;
	margin-bottom: 15px;
	list-style: none;
	width: 300px;
	background: #bbb;
}

.recent-section ul li img{
	display: inline-block;
	margin-right: 5px;
	width:35%;
}

.recent-section img{
	float: left;
	
}
.recent-section h2{
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.recent-section p{
	padding-right: 5px;
}

.recent-section h3{
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

@media (max-width: 767px) {
	.recent-section ul li{
		width: 100%;
	}
}
/*@media (max-width: 991px){
	.col-sm-12 {
width: 102%;
}

}*/




.blog-button{
	

}


/*end of fourth section styling*/