/*start of fourth section styling*/

.recent-section{
	text-align: center;
	padding-bottom: 50px;
}

.recent-section ul li img{
	display: inline-block;
	padding-right: 15px;
}

.recent-section ul li{
	display: inline;
	float: left;

}

.recent-section ul li{
	list-style: none;
	width: 33%

}

.recent-section img{
	float: left;
	padding-right: 15px;
}
.recent-section h2{
	text-align: left;
	
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.recent-section p{
	padding-right: 5px;
}

.blog-button{
	

}


/*end of fourth section styling*/