/*start of styling second section*/
.event-section {
  text-align: center;
  padding-bottom: 50px;
  
}
.event-section ul li div{
	display: inline-block;
}

.event-section h3,p{
	text-align: left;
}
.event-section h3{
	margin-top: 0;
	padding: 0;
}

.event-header {
  text-align: left;
}

.event-header h2{
font-size: 50px;
padding-bottom: 74px;



/*end of styling second section*/
