/*start of styling second section*/
.event-section {
  text-align: center;
  padding: 25px 0;
  background: #9d9f39;


}
.event-section ul li div{
	display: inline-block;
}
.event-section li{
	width: 32%;
	/*background: red;*/
	padding: 0;
	margin-right: 5px;
}

.event-section ul li img{
	float: left;
	margin-right: 15px;
	width: 100px;
}

.event-section ul li div{
	float: left;

}


.event-section h3,p{
	text-align: left;
	margin: 0;
	padding: 0;
}

.event-header {
  text-align: center;
}

.event-header h2{
font-size: 50px;
margin-bottom: 20px;
color: black;
text-shadow: -1px 2px 5px white;
letter-spacing: 5px;

}

@media (max-width: 991px) {
	.event-section ul li{
		text-align: center;
	}
	.event-section ul li p{
		margin-bottom: 2em;
	}
	.event-section ul li img,
	.event-section ul li div
	{
		text-align: center;
		float: none;
		margin: 0 auto;
	}
	.event-section h3, p{
		text-align: center;
		margin: .5em 0 0 0;
	}
}

/*end of styling second section*/

