
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	color: #5a5a5a;
	letter-spacing: 1px;
	padding-bottom: 0;
	padding-top: 54px;
}

h1,h2,h3,h4{
	font-family: 'Fjalla One', sans-serif;
}

a{
	color: $secondary;
	
	&:hover{
		color: #d25a1c;
	}
}


blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border: none;
}


