// http://flatuicolors.com/

$primary: #5F391F;
$secondary: #1C8302;

// buttons
.btn-primary{
	background-color: $primary;
	border: 0;
	&.closed{
		color: #fff;
		background: #979393;
		&:hover{
			background: #979393;
		}
	}
	&:hover{
		background-color: #fc6220;
	}


}

.btn-secondary{
	color: #fff;
	background-color: $secondary;
	border: 0;
	&.registration:hover{
		
	}
	&:hover{
		background-color: #22A700;
		color: #fff;
	}


}