.about-section{
	background: $secondary;
	border-bottom: 1px solid #ff6700;
	h2{
		
		margin: 0;
		padding: 20px 0 0 20px;
		color: #fff;
	}
}

.about-details{
	padding: 25px 0;

	img{
		float: left;
		margin: 10px 15px;
		max-width: 300px;
	}

	p{
		margin: 10px 0;
	}

}

.additional-info{
	background: #313233;
	padding: 25px 0;

	h3{
		color: #fff;
		text-align: center;
	}

	p{
		color: #eee;
	}

	ul{
		color: #fff;
		margin-left: 12em;
	}
}

